# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

# Package manager
node_modules/
package-lock.json

# Idea settings
.idea/

# VS Code files
.vscode/

# Virtual environment
venv/
venv2/

yarn.lock